.container {
  width: 900px;
  margin: auto;
}
.text-center {
  text-align: center;
}
/* Media queries */
/*@media(max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 720px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 50px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}*/
